.address {
  background-color: #f0f3ff;
  color: black !important;
  height: 50px;
  margin: 20px 0px;
  p {
    font-size: 10px;
    text-align: left;
    margin-bottom: unset;
  }
  span {
    float: left;
    font-size: 13px;
  }
  input {
    border: unset;
    width: 100%;
    background-color: #f0f3ff;
    border-bottom: 0.5px solid rgb(54, 54, 54);
    font-size: 13px;
  }
  input:focus {
    outline: none;
    border-bottom: 1px solid rgb(139, 148, 230);
  }
}
